@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">First Choice Games</h1>
    <img src="~/img/a1logo.jpg" alt="a1logo" width="400" height="400" />
    <p>Don't make it your last stop, we're the First Choice</p>
</div>
